.signup-buttons {
  width:145px;
  margin-left:auto;
  margin-right:auto;
}

.signup-buttons .btn:first-child {
  margin-right: 10px;
}

.home-link {
  display:block;
  width:85px;
  margin:0 auto;
}
