<div class="row" *ngIf="account != null">
  <div class="confirm-container">

    <div class="page-header">
      <h3>Confirm Account</h3>
    </div>

    <ul class="list-group">
      <li class="list-group-item"><h4><span class="label label-primary">First name</span><small>{{ account.firstname }}</small></h4></li>
      <li class="list-group-item"><h4><span class="label label-primary">Last name</span><small>{{ account.lastname }}</small></h4></li>
      <li class="list-group-item"><h4><span class="label label-primary">Account type</span><small>{{ account.accountType }}</small></h4></li>
      <li class="list-group-item"><h4><span class="label label-primary">Email</span><small>{{ account.email }}</small></h4></li>
      <li class="list-group-item"><h4><span class="label label-primary">Password</span><small>{{ account.hiddenPassword() }}</small></h4></li>
    </ul>

  </div>
</div>
