<div class="row" *ngIf="account != null">
  <div class="confirm-container">

    <div class="page-header">
      <h3><span class="glyphicon glyphicon-ok"></span> Confirm Account</h3>
    </div>

    <ul class="list-group">
      <li class="list-group-item"><h4><span class="confirm-label">First name</span><small>{{ account.firstname }}</small></h4></li>
      <li class="list-group-item"><h4><span class="confirm-label">Last name</span><small>{{ account.lastname }}</small></h4></li>
      <li class="list-group-item"><h4><span class="confirm-label">Account type</span><small>{{ account.accountType }}</small></h4></li>
      <li class="list-group-item"><h4><span class="confirm-label">Email</span><small>{{ account.email }}</small></h4></li>
      <li class="list-group-item"><h4><span class="confirm-label">Password</span><small>{{ account.hiddenPassword() }}</small></h4></li>
    </ul>

    <div class="page-header">
      <h4>Security</h4>
    </div>

    <ul class="list-group">

    </ul>
  </div>
</div>
