<div class="confirm-container">
  <div class="row" *ngIf="account != null">
  
    <div class="page-header">
      <h3><span class="glyphicon glyphicon-ok"></span> Account Info</h3>
    </div>

    <ul class="list-group">
      <li class="list-group-item">First name<small>{{ account.firstname }}</small></li>
      <li class="list-group-item">Last name<small>{{ account.lastname }}</small></li>
      <li class="list-group-item">Account type<small>{{ account.accountType }}</small></li>
      <li class="list-group-item">Email<small>{{ account.email }}</small></li>
      <li class="list-group-item">Password<small>{{ account.password }}</small></li>
    </ul>

  </div>

  <div class='row'>
    <h3><span class="glyphicon glyphicon-ok"></span> Security Questions</h3>

    <ul class="list-group">
      <li class='list-group-item'>Are you a robot?<small>{{ getRobotResponse() }}</small></li>
      <li class='list-group-item'
        *ngFor="let q of getSecurityQuestions()">
        {{ q.question }}
        <small>{{ q.answer }}</small></li>
    </ul>

    <div class='form-group'>
      <ul class='login-nav-links'>
        <li><a href='https://github.com/floresj4/angular-forms'>View source code on github</a></li>
        <li><a href='https://floresj4.com'>Check out floresj4.com</a></li>
      </ul>
    </div>

  </div>
</div>