.login-container {
  width: 250px;
  margin:150px auto 0;
}

.form-action-buttons {
  width:150px;
  margin:0 auto;
}

.form-action-buttons .btn:first-child {
  margin-right: 10px;
}

.sign-in-danger {
  font-size:12px;
  text-align: center;
}