<div class="row">
  <div class="login-container">

    <form (ngSubmit)="onSubmit(loginForm)" #loginForm="ngForm">

      <div class="form-group">
        <label for="username">Login</label>
        <input type="text" name="username" class="form-control"  id="username" placeholder="Username or email">
      </div>

      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" name="password" class="form-control" id="password"
               placeholder="******************">
      </div>

      <div class="form-group">
        <div class="form-action-buttons">
          <button type="submit" class="btn btn-default">Log in</button>
          <button type="button"
                  class="btn btn-primary"
                  (click)="onSignUp()">Sign up</button>
        </div>
      </div>

      <div class="form-group">
        <div class="alert alert-danger sign-in-danger" role="alert" *ngIf="isSubmitted">
          <p>Log in is not functional for this exercise.</p>
        </div>
      </div>

      <div class='form-group'>
        <ul class='login-nav-links'>
          <li><a href='https://github.com/floresj4/angular-forms'>View source code on github</a></li>
          <li><a href='https://floresj4.com'>Check out floresj4.com</a></li>
        </ul>
      </div>
    </form>
  </div>
</div>
