<div class="row">
  <div class="signup-container">

    <div class="page-header">
      <h3><span class="glyphicon glyphicon-lock"></span> Security</h3>
    </div>

    <!-- use property binding to set the value as an object and not a string -->
    <form [formGroup]="securityForm" (ngSubmit)="onSubmit()">

      <div class="form-group">
        <label>Are you a robot?</label>
        <input type="text"
               id="robot"
               formControlName="robot"
               class="form-control">

        <p class="invalid-field-message"
          *ngIf="!securityForm.get('robot').valid && securityForm.get('robot').touched">

          <span *ngIf="securityForm.get('robot').errors['required']">
            A response to this field is required.
          </span>

          <span *ngIf="securityForm.get('robot').errors['robotResponse']">
            Please enter a response of <strong>yes</strong>, <strong>no</strong>, or <strong>maybe</strong>
          </span>
        </p>

      </div>

      <div class="form-group">
        <h4>Questions <small>choose 3</small></h4>

        <div class="form-group"
             formArrayName="questions"
             *ngFor="let i = index; let question of securityForm.get('questions').controls">

          <span>Question {{ i + 1}}</span>

          <select
            [id]="'question_' + i"
            [name]="'question_' + i"
            #questionSelect
            class="form-control question-select">
            <option *ngFor="let q of securityQuestions">{{q}}</option>
          </select>

          <!-- property bind to set the value, not the string -->
          <input type="text"
            [id]="'answer_' + i"
            [name]="'answer_' + i"
            #answerInput
            [formControlName]="i"
            class="form-control"
            required
            (blur)="onAnswerBlur(i, questionSelect.value, answerInput.value)">

        </div>

        <button type="button"
                [disabled]="isQuestionAddDisabled()"
                (click)="onQuestionAdd()"
                class="btn btn-default form-control">
          Add
        </button>

      </div>

      <div class="form-group">
        <button type="submit"
                [disabled]="isFormDisabled()"
                class="btn btn-primary">
          Submit
        </button>
      </div>

    </form>

  </div>
</div>
