/* You can add global styles to this file, and also import other style files */

.signup-container,
.confirm-container {
  width:350px;
  margin:50px auto 0px;
}

input.ng-invalid.ng-touched{
  border:1px solid #f00;
}

.invalid-field-message {
  font-size:10px;
  text-indent:10px;
  color:#999;
}

ul.login-nav-links {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 10px;
}
ul.login-nav-links a:hover {
  text-decoration: none;
}
